.my_header{
    height: 10vh;
    background-color: green;
}

/* JUMBO-REGION */

.start_bootstrap{
    background-color: #1ABC9C;
}

#jumbo{
    max-width: 20%;
}

.left, .right{
    display: inline-block;
    height: 3px;
    width: 100px;
    border-radius: 10%;
    background-color: white;
    margin-bottom: 0.5rem;
    
}

.left{
    margin-right: 1rem;
}

.right{
    margin-left: 1rem;
}

.fa-star{
    font-size: 30px;
    color: white;
}

/* /END-JUMBO-REGION */

.portfolio{
    height: 50vh;
    background-color: aqua;
}

.about{
    height: 30vh;
    background-color: blueviolet;
}

.contact-me{
    height: 40vh;
    background-color: brown;
}

.upper-footer{
    height: 20vh;
    background-color: grey;
}

.lower-footer{
    height: 10vh;
    background-color: greenyellow;
}


/* COLORS */

/* jumbo-section: #1ABC9C */




