.my_header{
    height: 10vh;
    background-color: green;
}

.start_bootstrap{
    height: 40vh;
    background-color: red;
    
}

.portfolio{
    height: 50vh;
    background-color: aqua;
}

.about{
    height: 30vh;
    background-color: blueviolet;
}




