.nav-color{
    background-color: #2C3E50 ;
}

/* JUMBO-REGION */

.start_bootstrap, .about{
    background-color: #1ABC9C;
}

#jumbo{
    max-width: 25%;
}

.left, .right{
    display: inline-block;
    height: 3px;
    width: 100px;
    border-radius: 10%;
    background-color: white;
    margin-bottom: 0.5rem;
    
}

.left{
    margin-right: 1rem;
}

.right{
    margin-left: 1rem;
}

.fa-star{
    font-size: 30px;
    color: white;
}

.black{
    color: #2C3E50;

}

.dark{
    background-color: #2C3E50;
}

/* /END-JUMBO-REGION */

.upper-footer{
    
    background-color: #3A546D;
}

.lower-footer{
    
    background-color: #2C3E50;
}

.circle{
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    
    
}

/* COLORS */

/* jumbo-section/about-section: #1ABC9C */
/* navbar: #2C3E50 */
/* upper-foter: #3A546D */
/* lower-footer: #2C3E50 */





   








